* {
	margin: 0;
	padding: 0;
}
.flex-container {
	height: 40px;
	line-height: 40px;
	background-color: #000;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-container a {
	text-decoration: none;
	color: #fff;
}
.flex-container a:hover {
	color: pink;
}
.image img {
	display: block;
	margin: 0 auto;
	width: 1280px;
}
.font {
	font-size: 2rem;
	color: #4eb8c9; 
	text-align: center;
	text-shadow: 2px 2px #eee;
	font-family: 'Kaushan Script', cursive;
}
.flex-product {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 17px auto 30px;
}
.flex-product a:hover {
	box-shadow: 10px 10px 5px #888888;
}
h2 {
	text-align: center;
	color: #616161;
	margin: 10px auto;
}
.video {
	margin: 14px auto;
}
iframe {
	margin: 0px 4px;
}
.poem {
	margin: 10px auto;
	padding: 8px;
	font-family: 'Nanum Brush Script', cursive;
	font-size: 28px;
}
.bold {
	font-weight: 700;
}
.flex-footer ul {
	list-style: none;
}
.flex-footer li {
	color: #fff;
	margin: 43px 0px;
	font-size: 16px;
}
.flex-footer a {
	text-decoration:none;
}
.flex-footer {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
	background-color: #000;
}
.flex-footer li:hover {
	color: pink;
}